body{
    height: 100%vh;
}

header{
    display:flex;
    justify-content: space-around;
}

header li{
    display:inline;
}

nav li::before{
    content: '🔹 '
}

main{
    display:flex;
    width: 100%;
    margin: 5px;
    padding: 5px;
    height: 100vh;
}

aside{
    flex: 1 1 0;
    /* background-color: blueviolet; */
}

.about-me h2 {
    text-align: center;
}

.about-me img{
    width: 300px; 
    height: 200px;
}

.benita_img{
    text-align: center;
}

aside .contact-me{
    text-align: center;
}

section{
    flex: 2 1 0;
    /* background-color: aqua; */
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
}

.projects{
    grid-column-start:1;
    grid-column-end: 7;
    text-align: center;
}
.project-1{
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
}

.project-1 img{
    height: 300px;
    width: 600px;
    padding: 10px;
    margin: auto;
    display: block;

}

.project-2, .project-4{
    grid-column-start: 1;
    grid-column-end: 4;
}

.project-3, .project-5{
    grid-column-start:4;
    grid-column-end:7;
}

.project-1, .project-2, .project-3, .project-4,
.project-5{
    /* outline: 1px solid black; */
}

footer{
    text-align: center;
}