body{
    height: 100%vh;
}

header{
    display:flex;
    justify-content:space-between;
}

header li{
    display:inline;
}

nav li::before{
    content: '🔹 '
}

main{
    display:flex;
    width: 100%;
    margin: 5px;
    padding: 5px;
    height: 100vh;
}

aside{
    flex: 1 1 0;
    background-color: blueviolet;
    
}
section{
    flex: 2 1 0;
    background-color: aqua;
}


.about-me img{
    width: 300px; 
    height: 200px;
}

section{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);

}

.project-1{
    grid-column-start: 1;
    grid-column-end: 7;
}

.project-2, .project-4{
    grid-column-start: 1;
    grid-column-end: 4;
}

.project-3, .project-5{
    grid-column-start:4;
    grid-column-end:7;
}

.project-1, .project-2, .project-3, .project-4,
.project-5{
    outline: 1px solid black;
}

footer{
    text-align: center;
}