body{
    height: 100%;
    padding: 5px;
    margin: 5px;
}

header{
    text-align: center;
    background-color: #a6ada5;
    padding: 10px;
}

header h1{
    font-size: 6vw;
    color: white;
}

h2{
    font-size: 4vw;
    color:#a6ada5;
}

header a{
    text-decoration: none;
}

a:visited { 
    text-decoration: none; 
    color: white; 
   }

header ul{
    font-size: 2vw;
}

header li{
    display:inline;
}

nav li::before{
    content: '🔘 '
}

nav li::after{
    content:" 🔘"
}

main{
    display:flex;
    /* width: 100%; */
    /* margin: 5px;
    padding: 5px;
    height: 100vh; */
}

aside{
    flex: 1 1 0;
    padding: 15px;
}

.about-me{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.about-me h2 {
    text-align: center;
}

.about-me img{
    width: 80%;
}

.benita_img{
    text-align: center;
}

/* .contact-me{
    text-align: center;
} */

section{
    flex: 2 1 0;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
}

.projects{
    grid-column-start:1;
    grid-column-end: 7;
    text-align: center;
}

.project-1 a{
    text-decoration: none;
}
.project-1{
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
}

.project-1 img{
    width: 80%;
    padding: 10px;
    margin: auto;
    display: block;

}

.project-2, .project-4{
    grid-column-start: 1;
    grid-column-end: 4;
}

.project-3, .project-5{
    grid-column-start:4;
    grid-column-end:7;
}

.project-2 img, .project-3 img,
.project-4 img, .project-5 img{
    width:90%;
}

footer{
    text-align: center;
    background-color: #a6ada5;
    padding: 5px;
}

footer li{
    list-style-type: none;
    list-style-position: inside;
}

footer ul{
    padding-left: 0;
}

@media screen and (max-width:705px){
    main{
        display:block;
    }

    h2{
        font-size: 5vw;
    }
}
